<a href="https://colab.research.google.com/github/Tiberu2611/github/blob/master/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np

Câu 1: Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống
Hãy:
- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
        Thực lĩnh = “Số h công” x “Tiền công/h”

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [15]:
a = ["Nguyễn Khoa", "Hoàng Trí", "Lê Tấn", "Nguyễn Hữu", "Trần Khải", "Lê Quỳnh Trang", "Trần Đức Minh", "Lê Duy Khánh", "Nguyễn Linh", "Trần Phi Kỳ"]
b = ["12/10/1998", "15/7/1997", "3/8/1992", "27/5/1987", "30/3/1993", "7/8/1995", "6/4/1994", "8/3/1992", "23/11/1989", "18/11/1996"]
c = [7, 9, 8, 9, 8, 7, 6, 7, 9, 10]
d = [18, 27, 25 , 19, 28, 25.5, 34, 26, 35, 27]
f = []
for i in range(0, len(c)):
    a = c[i]*d[i]
    f.append(a)
name = pd.Series(a, name="Họ & Tên")
birthday = pd.Series(b, name = "Ngày sinh")
salaryh = pd.Series(c, name = "Lương theo giờ")
workh = pd.Series(d, name = "Giờ làm")
salary = pd.Series(f, name = "Lương")
name1 = pd.DataFrame(name)
print(f)
n = pd.concat([name, birthday, salaryh, workh, salary], axis=1)
print(n)

[126, 243, 200, 171, 224, 178.5, 204, 182, 315, 270]
   Họ & Tên   Ngày sinh  Lương theo giờ  Giờ làm  Lương
0     270.0  12/10/1998               7     18.0  126.0
1       NaN   15/7/1997               9     27.0  243.0
2       NaN    3/8/1992               8     25.0  200.0
3       NaN   27/5/1987               9     19.0  171.0
4       NaN   30/3/1993               8     28.0  224.0
5       NaN    7/8/1995               7     25.5  178.5
6       NaN    6/4/1994               6     34.0  204.0
7       NaN    8/3/1992               7     26.0  182.0
8       NaN  23/11/1989               9     35.0  315.0
9       NaN  18/11/1996              10     27.0  270.0

Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;

In [17]:
a = [["Nguyễn Khoa", "Hoàng Trí", "Lê Tấn", "Nguyễn Hữu", "Trần Khải", "Lê Quỳnh Trang", "Trần Đức Minh", "Lê Duy Khánh", "Nguyễn Linh", "Trần Phi Kỳ"],
     [18, 22, 19, 19, 18, 20, 23, 25, 21, 20], ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nữ", "Nam"]]
b = np.array(a)
b1 = np.transpose(b)
a1 = pd.DataFrame(b1, columns = ["Tên", "tuổi", "Giới Tính"])
print(a1)

              Tên tuổi Giới Tính
0     Nguyễn Khoa   18       Nam
1       Hoàng Trí   22       Nam
2          Lê Tấn   19       Nam
3      Nguyễn Hữu   19       Nam
4       Trần Khải   18       Nam
5  Lê Quỳnh Trang   20        Nữ
6   Trần Đức Minh   23       Nam
7    Lê Duy Khánh   25       Nam
8     Nguyễn Linh   21        Nữ
9     Trần Phi Kỳ   20       Nam

- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;

In [18]:
a = {"tên": ["Nguyễn Khoa", "Hoàng Trí", "Lê Tấn", "Nguyễn Hữu", "Trần Khải", "Lê Quỳnh Trang", "Trần Đức Minh", "Lê Duy Khánh", "Nguyễn Linh", "Trần Phi Kỳ"],
     "tuổi": [18, 22, 19, 19, 18, 20, 23, 25, 21, 20], 
     "giới tính": ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nữ", "Nam"]}
n = pd.DataFrame(a)
print(n)

              tên  tuổi giới tính
0     Nguyễn Khoa    18       Nam
1       Hoàng Trí    22       Nam
2          Lê Tấn    19       Nam
3      Nguyễn Hữu    19       Nam
4       Trần Khải    18       Nam
5  Lê Quỳnh Trang    20        Nữ
6   Trần Đức Minh    23       Nam
7    Lê Duy Khánh    25       Nam
8     Nguyễn Linh    21        Nữ
9     Trần Phi Kỳ    20       Nam

- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;

In [19]:
a = [{"Tên":"Nguyễn Khoa", "Tuổi":18, "Giới tính": "Nam"},
     {"Tên": "Hoàng Trí", "Tuổi":22, "Giới tính": "Nam"},
     {"Tên":"Lê Tấn", "Tuổi":19, "Giới tính": "Nam"},
     {"Tên": "Nguyễn Hữu", "Tuổi":19, "Giới tính": "Nam"},
     {"Tên":"Trần Khải", "Tuổi":18, "Giới tính": "Nam"},
     {"Tên":"Lê Quỳnh Trang", "Tuổi":20, "Giới tính": "Nữ"},
     {"Tên":"Trần Đức Minh", "Tuổi":23, "Giới tính": "Nam"},
     {"Tên":"Lê Duy Khánh", "Tuổi":25, "Giới tính": "Nam"},
     {"Tên":"Nguyễn Linh", "Tuổi":21, "Giới tính": "Nữ"},
     {"Tên":"Trần Phi Kỳ", "Tuổi":20, "Giới tính": "Nam"}]
n = pd.DataFrame(a)
print(n)

              Tên  Tuổi Giới tính
0     Nguyễn Khoa    18       Nam
1       Hoàng Trí    22       Nam
2          Lê Tấn    19       Nam
3      Nguyễn Hữu    19       Nam
4       Trần Khải    18       Nam
5  Lê Quỳnh Trang    20        Nữ
6   Trần Đức Minh    23       Nam
7    Lê Duy Khánh    25       Nam
8     Nguyễn Linh    21        Nữ
9     Trần Phi Kỳ    20       Nam

- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [20]:
a = ["Nguyễn Khoa", "Hoàng Trí", "Lê Tấn", "Nguyễn Hữu", "Trần Khải", "Lê Quỳnh Trang", "Trần Đức Minh", "Lê Duy Khánh", "Nguyễn Linh", "Trần Phi Kỳ"]
b = [18, 22, 19, 19, 18, 20, 23, 25, 21, 20]
c = ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nữ", "Nam"]
d = list(zip(a, b, c))
d1 = pd.DataFrame(d, columns = ["Tên", "Tuổi", "Giới tính"])
print(d1)

              Tên  Tuổi Giới tính
0     Nguyễn Khoa    18       Nam
1       Hoàng Trí    22       Nam
2          Lê Tấn    19       Nam
3      Nguyễn Hữu    19       Nam
4       Trần Khải    18       Nam
5  Lê Quỳnh Trang    20        Nữ
6   Trần Đức Minh    23       Nam
7    Lê Duy Khánh    25       Nam
8     Nguyễn Linh    21        Nữ
9     Trần Phi Kỳ    20       Nam